In [1]:
pip install --upgrade pandas seaborn matplotlib

Requirement already satisfied: pandas in c:\users\computer\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: seaborn in c:\users\computer\anaconda3\lib\site-packages (0.13.2)
Requirement already satisfied: matplotlib in c:\users\computer\anaconda3\lib\site-packages (3.9.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\computer\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\computer\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\computer\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\computer\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\computer\anaconda3\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\computer\anaconda3\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\computer\anaconda3\lib\site-packages (from matplotlib) (4.25.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\computer\anaconda3\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\computer\anaconda3\lib\site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=8 in c:\users\computer\anaconda3\lib\site-packages (from matplotlib) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\computer\anaconda3\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\computer\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd   
import numpy as np 
import seaborn as sns 
import matplotlib.pylab as plt 
plt.style.use('ggplot')
pd.set_option('display.max_columns',200)

In [3]:
from stdInfo import Student

student = Student(239)
student_info = student.std_info_dt()
print(student_info)

                Name  Year Student Number
0     Michael Thomas     1       24427517
1    Michael Mcguire     4       21908695
2     Jonathan Smith     4       21620116
3       Jaime Phelps     2       23128726
4    Nicole Hamilton     3       22926109
..               ...   ...            ...
234     Cindy Romero     1       24182999
235     Emily Miller     4       21598098
236    Angel Johnson     2       23369197
237   Gregory Martin     1       24832564
238    Melinda Hines     3       22922542

[239 rows x 3 columns]

In [4]:
from stdGrade import GrdSystem

students = GrdSystem(239)
student_grades = students.overall_dt_stdGrades()
print(student_grades)

                Name  Year Student Number  Subject_1  Subject_2  Subject_3  \
0     Michael Thomas     1       24427517       1.00       1.50       2.50
1    Michael Mcguire     4       21908695       2.50       5.00       1.00
2     Jonathan Smith     4       21620116       1.75       5.00       1.00
3       Jaime Phelps     2       23128726       1.75       1.75       1.75
4    Nicole Hamilton     3       22926109       2.25       2.75       1.50
..               ...   ...            ...        ...        ...        ...
234     Cindy Romero     1       24182999       1.00       2.75       1.50
235     Emily Miller     4       21598098       5.00       2.00       2.00
236    Angel Johnson     2       23369197       2.50       1.00       1.50
237   Gregory Martin     1       24832564       5.00       2.75       4.00
238    Melinda Hines     3       22922542       1.50       3.00       3.00

     Subject_4  Subject_5  Subject_6  Subject_7  Subject_8  Final Grade  \
0         1.75       2.25        NaN        NaN        NaN         1.86
1         1.00       1.25        NaN        NaN        NaN         2.15
2         1.50       2.75        NaN        NaN        NaN         2.40
3         2.25       1.00        5.0       5.00       1.75         2.57
4         1.50       1.50        5.0       3.00        NaN         2.50
..         ...        ...        ...        ...        ...          ...
234       4.00       2.50        NaN        NaN        NaN         2.45
235       2.00       1.75        NaN        NaN        NaN         2.55
236       3.00       1.25        4.0       2.75       3.00         2.37
237       1.75       1.25        NaN        NaN        NaN         2.80
238       2.00       1.00        1.5       2.75        NaN         2.11

     Subjects Failed
0                  0
1                  1
2                  1
3                  2
4                  1
..               ...
234                0
235                1
236                0
237                1
238                0

[239 rows x 13 columns]

In [5]:
from StudyHbtsSurvey import S_H_Survey

survey = S_H_Survey(239, Total_respondents= 239, Respondents_ans=200)
student_survey = survey.std_info_and_survey()
print(student_survey)

                Name  Year Student Number Homework_Question_1  \
0     Michael Thomas     1       24427517      Strongly Agree
1    Michael Mcguire     4       21908695               Agree
2     Jonathan Smith     4       21620116   Strongly Disagree
3       Jaime Phelps     2       23128726               Agree
4    Nicole Hamilton     3       22926109   Strongly Disagree
..               ...   ...            ...                 ...
234     Cindy Romero     1       24182999                 NaN
235     Emily Miller     4       21598098                 NaN
236    Angel Johnson     2       23369197                 NaN
237   Gregory Martin     1       24832564                 NaN
238    Melinda Hines     3       22922542                 NaN

    Homework_Question_2 Homework_Question_3 Time Allocation_Question_1  \
0                 Agree   Strongly Disagree                      Agree
1              Disagree   Strongly Disagree                      Agree
2     Strongly Disagree            Disagree          Strongly Disagree
3                 Agree               Agree                      Agree
4        Strongly Agree   Strongly Disagree                      Agree
..                  ...                 ...                        ...
234                 NaN                 NaN                        NaN
235                 NaN                 NaN                        NaN
236                 NaN                 NaN                        NaN
237                 NaN                 NaN                        NaN
238                 NaN                 NaN                        NaN

    Time Allocation_Question_2 Time Allocation_Question_3  \
0                     Disagree          Strongly Disagree
1                        Agree                      Agree
2            Strongly Disagree          Strongly Disagree
3            Strongly Disagree                      Agree
4                     Disagree                      Agree
..                         ...                        ...
234                        NaN                        NaN
235                        NaN                        NaN
236                        NaN                        NaN
237                        NaN                        NaN
238                        NaN                        NaN

    Reading and Note Taking_Question_1 Reading and Note Taking_Question_2  \
0                       Strongly Agree                     Strongly Agree
1                                Agree                  Strongly Disagree
2                                Agree                     Strongly Agree
3                       Strongly Agree                              Agree
4                             Disagree                              Agree
..                                 ...                                ...
234                                NaN                                NaN
235                                NaN                                NaN
236                                NaN                                NaN
237                                NaN                                NaN
238                                NaN                                NaN

    Reading and Note Taking_Question_3 Study Period Procedures_Question_1  \
0                       Strongly Agree                              Agree
1                                Agree                  Strongly Disagree
2                    Strongly Disagree                  Strongly Disagree
3                    Strongly Disagree                              Agree
4                             Disagree                              Agree
..                                 ...                                ...
234                                NaN                                NaN
235                                NaN                                NaN
236                                NaN                                NaN
237                                NaN                                NaN
238                                NaN                                NaN

    Study Period Procedures_Question_2 Study Period Procedures_Question_3  \
0                       Strongly Agree                              Agree
1                       Strongly Agree                     Strongly Agree
2                                Agree                           Disagree
3                    Strongly Disagree                  Strongly Disagree
4                       Strongly Agree                           Disagree
..                                 ...                                ...
234                                NaN                                NaN
235                                NaN                                NaN
236                                NaN                                NaN
237                                NaN                                NaN
238                                NaN                                NaN

    Written Works_Question_1 Written Works_Question_2  \
0          Strongly Disagree                    Agree
1                      Agree                 Disagree
2          Strongly Disagree           Strongly Agree
3          Strongly Disagree                    Agree
4          Strongly Disagree                 Disagree
..                       ...                      ...
234                      NaN                      NaN
235                      NaN                      NaN
236                      NaN                      NaN
237                      NaN                      NaN
238                      NaN                      NaN

    Written Works_Question_3 Examination_Question_1 Examination_Question_2  \
0                      Agree                  Agree               Disagree
1          Strongly Disagree      Strongly Disagree                  Agree
2                   Disagree                  Agree      Strongly Disagree
3          Strongly Disagree         Strongly Agree               Disagree
4          Strongly Disagree                  Agree                  Agree
..                       ...                    ...                    ...
234                      NaN                   None                   None
235                      NaN                   None                   None
236                      NaN                   None                   None
237                      NaN                   None                   None
238                      NaN                   None                   None

    Examination_Question_3
0           Strongly Agree
1                 Disagree
2                    Agree
3           Strongly Agree
4                 Disagree
..                     ...
234                   None
235                   None
236                   None
237                   None
238                   None

[239 rows x 21 columns]

In [6]:
merged_data = pd.merge(student_grades, student_survey, how= "left", on= ["Student Number", "Name", "Year"])
merged_data

,Name,Year,Student Number,Subject_1,Subject_2,Subject_3,Subject_4,Subject_5,Subject_6,Subject_7,Subject_8,Final Grade,Subjects Failed,Homework_Question_1,Homework_Question_2,Homework_Question_3,Time Allocation_Question_1,Time Allocation_Question_2,Time Allocation_Question_3,Reading and Note Taking_Question_1,Reading and Note Taking_Question_2,Reading and Note Taking_Question_3,Study Period Procedures_Question_1,Study Period Procedures_Question_2,Study Period Procedures_Question_3,Written Works_Question_1,Written Works_Question_2,Written Works_Question_3,Examination_Question_1,Examination_Question_2,Examination_Question_3
0,Michael Thomas,1,24427517,1.00,1.50,2.50,1.75,2.25,NaN,NaN,NaN,1.86,0,Strongly Agree,Agree,Strongly Disagree,Agree,Disagree,Strongly Disagree,Strongly Agree,Strongly Agree,Strongly Agree,Agree,Strongly Agree,Agree,Strongly Disagree,Agree,Agree,Agree,Disagree,Strongly Agree
1,Michael Mcguire,4,21908695,2.50,5.00,1.00,1.00,1.25,NaN,NaN,NaN,2.15,1,Agree,Disagree,Strongly Disagree,Agree,Agree,Agree,Agree,Strongly Disagree,Agree,Strongly Disagree,Strongly Agree,Strongly Agree,Agree,Disagree,Strongly Disagree,Strongly Disagree,Agree,Disagree
2,Jonathan Smith,4,21620116,1.75,5.00,1.00,1.50,2.75,NaN,NaN,NaN,2.40,1,Strongly Disagree,Strongly Disagree,Disagree,Strongly Disagree,Strongly Disagree,Strongly Disagree,Agree,Strongly Agree,Strongly Disagree,Strongly Disagree,Agree,Disagree,Strongly Disagree,Strongly Agree,Disagree,Agree,Strongly Disagree,Agree
3,Jaime Phelps,2,23128726,1.75,1.75,1.75,2.25,1.00,5.0,5.00,1.75,2.57,2,Agree,Agree,Agree,Agree,Strongly Disagree,Agree,Strongly Agree,Agree,Strongly Disagree,Agree,Strongly Disagree,Strongly Disagree,Strongly Disagree,Agree,Strongly Disagree,Strongly Agree,Disagree,Strongly Agree
4,Nicole Hamilton,3,22926109,2.25,2.75,1.50,1.50,1.50,5.0,3.00,NaN,2.50,1,Strongly Disagree,Strongly Agree,Strongly Disagree,Agree,Disagree,Agree,Disagree,Agree,Disagree,Agree,Strongly Agree,Disagree,Strongly Disagree,Disagree,Strongly Disagree,Agree,Agree,Disagree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Cindy Romero,1,24182999,1.00,2.75,1.50,4.00,2.50,NaN,NaN,NaN,2.45,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
235,Emily Miller,4,21598098,5.00,2.00,2.00,2.00,1.75,NaN,NaN,NaN,2.55,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
236,Angel Johnson,2,23369197,2.50,1.00,1.50,3.00,1.25,4.0,2.75,3.00,2.37,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
237,Gregory Martin,1,24832564,5.00,2.75,4.00,1.75,1.25,NaN,NaN,NaN,2.80,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
238,Melinda Hines,3,22922542,1.50,3.00,3.00,2.00,1.00,1.5,2.75,NaN,2.11,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None

In [7]:
merged_data.to_csv('tbl_2_try.csv', index=False)
print('Done')

Done

In [8]:
merged_data.shape

(239, 31)

In [9]:
merged_data.dtypes

Name                                   object
Year                                    int64
Student Number                         object
Subject_1                             float64
Subject_2                             float64
Subject_3                             float64
Subject_4                             float64
Subject_5                             float64
Subject_6                             float64
Subject_7                             float64
Subject_8                             float64
Final Grade                           float64
Subjects Failed                         int64
Homework_Question_1                    object
Homework_Question_2                    object
Homework_Question_3                    object
Time Allocation_Question_1             object
Time Allocation_Question_2             object
Time Allocation_Question_3             object
Reading and Note Taking_Question_1     object
Reading and Note Taking_Question_2     object
Reading and Note Taking_Question_3     object
Study Period Procedures_Question_1     object
Study Period Procedures_Question_2     object
Study Period Procedures_Question_3     object
Written Works_Question_1               object
Written Works_Question_2               object
Written Works_Question_3               object
Examination_Question_1                 object
Examination_Question_2                 object
Examination_Question_3                 object
dtype: object

In [10]:
merged_data.describe()

,Year,Subject_1,Subject_2,Subject_3,Subject_4,Subject_5,Subject_6,Subject_7,Subject_8,Final Grade,Subjects Failed
count,239.000000,239.000000,239.000000,239.000000,239.000000,239.000000,113.000000,113.000000,54.000000,239.000000,239.000000
mean,2.510460,2.507322,2.451883,2.495816,2.488494,2.451883,2.469027,2.650442,2.712963,2.494351,0.569038
std,1.144449,1.178055,1.083338,1.137585,1.150047,1.144170,1.102014,1.243976,1.230899,0.441823,0.757625
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.550000,0.000000
25%,1.000000,1.500000,1.625000,1.500000,1.750000,1.500000,1.750000,1.500000,1.750000,2.175000,0.000000
50%,3.000000,2.250000,2.250000,2.250000,2.250000,2.250000,2.250000,2.500000,2.500000,2.450000,0.000000
75%,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,2.750000,4.000000,3.000000,2.780000,1.000000
max,4.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,3.700000,5.000000

In [11]:
merged_data.columns

Index(['Name', 'Year', 'Student Number', 'Subject_1', 'Subject_2', 'Subject_3',
       'Subject_4', 'Subject_5', 'Subject_6', 'Subject_7', 'Subject_8',
       'Final Grade', 'Subjects Failed', 'Homework_Question_1',
       'Homework_Question_2', 'Homework_Question_3',
       'Time Allocation_Question_1', 'Time Allocation_Question_2',
       'Time Allocation_Question_3', 'Reading and Note Taking_Question_1',
       'Reading and Note Taking_Question_2',
       'Reading and Note Taking_Question_3',
       'Study Period Procedures_Question_1',
       'Study Period Procedures_Question_2',
       'Study Period Procedures_Question_3', 'Written Works_Question_1',
       'Written Works_Question_2', 'Written Works_Question_3',
       'Examination_Question_1', 'Examination_Question_2',
       'Examination_Question_3'],
      dtype='object')

In [12]:
merged_data = merged_data[[ # 'Name', 
          'Year', 
          #'Student Number', 
            #  'Subject_1', 'Subject_2', 'Subject_3',
            # 'Subject_4', 'Subject_5', 'Subject_6', 'Subject_7', 'Subject_8',
       'Final Grade', 'Subjects Failed', 'Homework_Question_1',
       'Homework_Question_2', 'Homework_Question_3',
       'Time Allocation_Question_1', 'Time Allocation_Question_2',
       'Time Allocation_Question_3', 'Reading and Note Taking_Question_1',
       'Reading and Note Taking_Question_2',
       'Reading and Note Taking_Question_3',
       'Study Period Procedures_Question_1',
       'Study Period Procedures_Question_2',
       'Study Period Procedures_Question_3', 'Written Works_Question_1',
       'Written Works_Question_2', 'Written Works_Question_3',
       'Examination_Question_1', 'Examination_Question_2',
       'Examination_Question_3']].copy()

In [13]:
merged_data

,Year,Final Grade,Subjects Failed,Homework_Question_1,Homework_Question_2,Homework_Question_3,Time Allocation_Question_1,Time Allocation_Question_2,Time Allocation_Question_3,Reading and Note Taking_Question_1,Reading and Note Taking_Question_2,Reading and Note Taking_Question_3,Study Period Procedures_Question_1,Study Period Procedures_Question_2,Study Period Procedures_Question_3,Written Works_Question_1,Written Works_Question_2,Written Works_Question_3,Examination_Question_1,Examination_Question_2,Examination_Question_3
0,1,1.86,0,Strongly Agree,Agree,Strongly Disagree,Agree,Disagree,Strongly Disagree,Strongly Agree,Strongly Agree,Strongly Agree,Agree,Strongly Agree,Agree,Strongly Disagree,Agree,Agree,Agree,Disagree,Strongly Agree
1,4,2.15,1,Agree,Disagree,Strongly Disagree,Agree,Agree,Agree,Agree,Strongly Disagree,Agree,Strongly Disagree,Strongly Agree,Strongly Agree,Agree,Disagree,Strongly Disagree,Strongly Disagree,Agree,Disagree
2,4,2.40,1,Strongly Disagree,Strongly Disagree,Disagree,Strongly Disagree,Strongly Disagree,Strongly Disagree,Agree,Strongly Agree,Strongly Disagree,Strongly Disagree,Agree,Disagree,Strongly Disagree,Strongly Agree,Disagree,Agree,Strongly Disagree,Agree
3,2,2.57,2,Agree,Agree,Agree,Agree,Strongly Disagree,Agree,Strongly Agree,Agree,Strongly Disagree,Agree,Strongly Disagree,Strongly Disagree,Strongly Disagree,Agree,Strongly Disagree,Strongly Agree,Disagree,Strongly Agree
4,3,2.50,1,Strongly Disagree,Strongly Agree,Strongly Disagree,Agree,Disagree,Agree,Disagree,Agree,Disagree,Agree,Strongly Agree,Disagree,Strongly Disagree,Disagree,Strongly Disagree,Agree,Agree,Disagree
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,1,2.45,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
235,4,2.55,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
236,2,2.37,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
237,1,2.80,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None
238,3,2.11,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None

In [14]:
merged_data.dtypes

Year                                    int64
Final Grade                           float64
Subjects Failed                         int64
Homework_Question_1                    object
Homework_Question_2                    object
Homework_Question_3                    object
Time Allocation_Question_1             object
Time Allocation_Question_2             object
Time Allocation_Question_3             object
Reading and Note Taking_Question_1     object
Reading and Note Taking_Question_2     object
Reading and Note Taking_Question_3     object
Study Period Procedures_Question_1     object
Study Period Procedures_Question_2     object
Study Period Procedures_Question_3     object
Written Works_Question_1               object
Written Works_Question_2               object
Written Works_Question_3               object
Examination_Question_1                 object
Examination_Question_2                 object
Examination_Question_3                 object
dtype: object

In [15]:
merged_data.dtypes

Year                                    int64
Final Grade                           float64
Subjects Failed                         int64
Homework_Question_1                    object
Homework_Question_2                    object
Homework_Question_3                    object
Time Allocation_Question_1             object
Time Allocation_Question_2             object
Time Allocation_Question_3             object
Reading and Note Taking_Question_1     object
Reading and Note Taking_Question_2     object
Reading and Note Taking_Question_3     object
Study Period Procedures_Question_1     object
Study Period Procedures_Question_2     object
Study Period Procedures_Question_3     object
Written Works_Question_1               object
Written Works_Question_2               object
Written Works_Question_3               object
Examination_Question_1                 object
Examination_Question_2                 object
Examination_Question_3                 object
dtype: object

In [16]:
merged_data = merged_data.rename(columns = { 
    "Final Grade" : "Final_Grade",
    "Subjects Failed" : "Subjects_Failed",
    "Time Allocation_Question_1" : "Time_Allocation_Question_1",
    "Time Allocation_Question_2" : "Time_Allocation_Question_2",
    "Time Allocation_Question_3" : "Time_Allocation_Question_3",
    "Reading and Note Taking_Question_1" : "Reading_and_Note_Taking_Question_1",
    "Reading and Note Taking_Question_2" : "Reading_and_Note_Taking_Question_2",
    "Reading and Note Taking_Question_3" : "Reading_and_Note_Taking_Question_3",
    "Study Period Procedures_Question_1" : "Study_Period_Procedures_Question_1",
    "Study Period Procedures_Question_2" : "Study_Period_Procedures_Question_2",
    "Study Period Procedures_Question_3" : "Study_Period_Procedures_Question_3",
    "Written Works_Question_1" : "Written_Works_Question_1",
    "Written Works_Question_2" : "Written_Works_Question_2",
    "Written Works_Question_3" : "Written_Works_Question_3"
})

merged_data.head()

,Year,Final_Grade,Subjects_Failed,Homework_Question_1,Homework_Question_2,Homework_Question_3,Time_Allocation_Question_1,Time_Allocation_Question_2,Time_Allocation_Question_3,Reading_and_Note_Taking_Question_1,Reading_and_Note_Taking_Question_2,Reading_and_Note_Taking_Question_3,Study_Period_Procedures_Question_1,Study_Period_Procedures_Question_2,Study_Period_Procedures_Question_3,Written_Works_Question_1,Written_Works_Question_2,Written_Works_Question_3,Examination_Question_1,Examination_Question_2,Examination_Question_3
0,1,1.86,0,Strongly Agree,Agree,Strongly Disagree,Agree,Disagree,Strongly Disagree,Strongly Agree,Strongly Agree,Strongly Agree,Agree,Strongly Agree,Agree,Strongly Disagree,Agree,Agree,Agree,Disagree,Strongly Agree
1,4,2.15,1,Agree,Disagree,Strongly Disagree,Agree,Agree,Agree,Agree,Strongly Disagree,Agree,Strongly Disagree,Strongly Agree,Strongly Agree,Agree,Disagree,Strongly Disagree,Strongly Disagree,Agree,Disagree
2,4,2.40,1,Strongly Disagree,Strongly Disagree,Disagree,Strongly Disagree,Strongly Disagree,Strongly Disagree,Agree,Strongly Agree,Strongly Disagree,Strongly Disagree,Agree,Disagree,Strongly Disagree,Strongly Agree,Disagree,Agree,Strongly Disagree,Agree
3,2,2.57,2,Agree,Agree,Agree,Agree,Strongly Disagree,Agree,Strongly Agree,Agree,Strongly Disagree,Agree,Strongly Disagree,Strongly Disagree,Strongly Disagree,Agree,Strongly Disagree,Strongly Agree,Disagree,Strongly Agree
4,3,2.50,1,Strongly Disagree,Strongly Agree,Strongly Disagree,Agree,Disagree,Agree,Disagree,Agree,Disagree,Agree,Strongly Agree,Disagree,Strongly Disagree,Disagree,Strongly Disagree,Agree,Agree,Disagree

In [17]:
merged_data.columns

Index(['Year', 'Final_Grade', 'Subjects_Failed', 'Homework_Question_1',
       'Homework_Question_2', 'Homework_Question_3',
       'Time_Allocation_Question_1', 'Time_Allocation_Question_2',
       'Time_Allocation_Question_3', 'Reading_and_Note_Taking_Question_1',
       'Reading_and_Note_Taking_Question_2',
       'Reading_and_Note_Taking_Question_3',
       'Study_Period_Procedures_Question_1',
       'Study_Period_Procedures_Question_2',
       'Study_Period_Procedures_Question_3', 'Written_Works_Question_1',
       'Written_Works_Question_2', 'Written_Works_Question_3',
       'Examination_Question_1', 'Examination_Question_2',
       'Examination_Question_3'],
      dtype='object')

In [18]:
survey_Columns = ['Homework_Question_1',
       'Homework_Question_2', 'Homework_Question_3',
       'Time_Allocation_Question_1', 'Time_Allocation_Question_2',
       'Time_Allocation_Question_3', 'Reading_and_Note_Taking_Question_1',
       'Reading_and_Note_Taking_Question_2',
       'Reading_and_Note_Taking_Question_3',
       'Study_Period_Procedures_Question_1',
       'Study_Period_Procedures_Question_2',
       'Study_Period_Procedures_Question_3', 'Written_Works_Question_1',
       'Written_Works_Question_2', 'Written_Works_Question_3',
       'Examination_Question_1', 'Examination_Question_2',
       'Examination_Question_3']

for columns in survey_Columns:
    merged_data[columns] = merged_data[columns].map({
        'Strongly Disagree' : 1, 
        'Disagree' : 2, 
        'Agree': 3, 
        'Strongly Agree' : 4
    })

merged_data.head()

,Year,Final_Grade,Subjects_Failed,Homework_Question_1,Homework_Question_2,Homework_Question_3,Time_Allocation_Question_1,Time_Allocation_Question_2,Time_Allocation_Question_3,Reading_and_Note_Taking_Question_1,Reading_and_Note_Taking_Question_2,Reading_and_Note_Taking_Question_3,Study_Period_Procedures_Question_1,Study_Period_Procedures_Question_2,Study_Period_Procedures_Question_3,Written_Works_Question_1,Written_Works_Question_2,Written_Works_Question_3,Examination_Question_1,Examination_Question_2,Examination_Question_3
0,1,1.86,0,4.0,3.0,1.0,3.0,2.0,1.0,4.0,4.0,4.0,3.0,4.0,3.0,1.0,3.0,3.0,3.0,2.0,4.0
1,4,2.15,1,3.0,2.0,1.0,3.0,3.0,3.0,3.0,1.0,3.0,1.0,4.0,4.0,3.0,2.0,1.0,1.0,3.0,2.0
2,4,2.40,1,1.0,1.0,2.0,1.0,1.0,1.0,3.0,4.0,1.0,1.0,3.0,2.0,1.0,4.0,2.0,3.0,1.0,3.0
3,2,2.57,2,3.0,3.0,3.0,3.0,1.0,3.0,4.0,3.0,1.0,3.0,1.0,1.0,1.0,3.0,1.0,4.0,2.0,4.0
4,3,2.50,1,1.0,4.0,1.0,3.0,2.0,3.0,2.0,3.0,2.0,3.0,4.0,2.0,1.0,2.0,1.0,3.0,3.0,2.0

In [22]:
merged_data.head()

,Year,Final_Grade,Subjects_Failed,Homework_Question_1,Homework_Question_2,Homework_Question_3,Time_Allocation_Question_1,Time_Allocation_Question_2,Time_Allocation_Question_3,Reading_and_Note_Taking_Question_1,Reading_and_Note_Taking_Question_2,Reading_and_Note_Taking_Question_3,Study_Period_Procedures_Question_1,Study_Period_Procedures_Question_2,Study_Period_Procedures_Question_3,Written_Works_Question_1,Written_Works_Question_2,Written_Works_Question_3,Examination_Question_1,Examination_Question_2,Examination_Question_3
0,1,1.86,0,4.0,3.0,1.0,3.0,2.0,1.0,4.0,4.0,4.0,3.0,4.0,3.0,1.0,3.0,3.0,3.0,2.0,4.0
1,4,2.15,1,3.0,2.0,1.0,3.0,3.0,3.0,3.0,1.0,3.0,1.0,4.0,4.0,3.0,2.0,1.0,1.0,3.0,2.0
2,4,2.40,1,1.0,1.0,2.0,1.0,1.0,1.0,3.0,4.0,1.0,1.0,3.0,2.0,1.0,4.0,2.0,3.0,1.0,3.0
3,2,2.57,2,3.0,3.0,3.0,3.0,1.0,3.0,4.0,3.0,1.0,3.0,1.0,1.0,1.0,3.0,1.0,4.0,2.0,4.0
4,3,2.50,1,1.0,4.0,1.0,3.0,2.0,3.0,2.0,3.0,2.0,3.0,4.0,2.0,1.0,2.0,1.0,3.0,3.0,2.0